<head>
  <title>Account Page</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body id="account">
    <h2 id="current-user"><%= @current_user.account.fname + " " + @current_user.account.lname %></h2>
 <!--  <form id="user" action="/sign-up" method="POST"> -->
    <form class="pure-form pure-form-stacked" action="/edit" method="POST">
 <!--    <fieldset id="user-field"> -->
      <legend>Account Details</legend>
      <ul>
        <input type="text" name="fname" value="<%= current_user.account.fname %>">
        <label for="fname">First Name</label>
        <input type="text" name="lname" value="<%= current_user.account.lname %>">
        <label for="lname">Last Name</label>
        <input type="text" name="hometown" value="<%= current_user.account.hometown %>">
        <label for="hometown">Hometown</label>
        <input type="number" name="age" value="<%= current_user.account.age %>">
        <label for="age">Age</label>
        <input type="text" name="interests" value="<%= current_user.account.interests %>">
        <label for="interests">Interests</label>
        <input type="text" name="email" value="<%= current_user.email %>">
        <label for="email">Email</label>
        <input type="password" name="password" value="<%= current_user.password %>">
        <label for="password">Password</label>
        <!-- <input type="submit" name="submit" value="Edit Account"> -->
        <button class="pure-button pure-button-primary" type="submit" name="submit" value="Edit Account">Edit Account</button>
      </ul>
    </fieldset>
  </form>
  <form action='/delete/account' method='POST'>
    <button type="submit" class="btn btn-danger">Delete Account</button>
  </form>
</body>

