<head>
  <title>

  </title>
</head>
<body id="home">
  <form method="POST" action="/post">
    <label for="location"></label>
      <input type="text" name="[post]location" placeholder="Your Location" class="form-control">
    <label for="body"></label>
      <textarea maxlength="150" name="[post]body" placeholder="What are you up to?" class="form-control" rows="3"></textarea>
  <br>
    <button type="submit" value="submit" class="btn btn-primary btn-lg">Post</button>
  </form>
  <h2 id="current-user"><%= @user.email %></h2>
  <div class="posts-area">
  <h2><%= @location %></h2>
    <% if @posts %>
    <% @user.posts.each do |p| %>
    <p class="location" %>
      <%= p.location %>
    </p>
      <p class="posts"><%= @posts %>
        <%= p.body %><br>
      </p>
      <% end %>
    <% end %>
  </div>
<!-- put each loop line 16 -->
